<h2>All Books</h2>

<% if user_signed_in? %>
  <p><%= link_to 'Submit a Book', new_book_path %></p>
<% end %>

<ul>
  <%= @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>

    <% if user_signed_in? && current_user.id == book.user_id %>
      <li><%= link_to 'Edit', edit_book_path(book) %></li>
    <% end %>
  <% end %>
</ul>
