/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color: #333333;
}

dt {
  margin-top: 12px;
}

.actions.spaced {
  margin-bottom: 15px;
}

.book_details {
  padding-right: 15px;
}

.callout.secondary {
  margin-left: 15px;
}

.container {
  background-color: #FFFFFF;
  padding: 0px 15px;
  margin: 0px 67.5px;
  min-height: 650px;
}

.devise.links {
  padding-bottom: 25px;
}

.down {
  margin-top: 8px;
}

.error_explanation {
  padding-right: 20px;
  padding-left: 20px;
}

.index {
  padding-left: 50px;
  padding-right: 50px;
}

.index-submit {
  margin-top: 15px;
}

.post_review {
  margin: 0;
  background: gray;
}

.review_info {
  padding-left: 20px;
  padding-right: 20px;
}

.up {
  margin-bottom: 8px;
}

.view_reviews {
  margin-top: 16px;
}

.view_reviews ul {
  margin-bottom: 0;
  margin-top: 16px;
}

#review_rating {
  margin-bottom: 4px;
}

#search-submit {
  margin-bottom: 15px;
}

@media screen and (max-width: 39.9375em) {
  .callout.secondary {
    margin-left: 0;
  }

  .container {
    margin: 0;
  }

  .index {
    padding-left: 10px;
    padding-right: 10px;
  }

  .index-submit {
    margin-top: 0px;
  }
}
